.add-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  width: 70%;
  height: 100%;
  border: 1px solid var(--primary);
  border-radius: 8px;
}

#root
{
  display: flex;
  justify-content: center;
}

.songs-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  max-height: 60vh;
  overflow-y: auto;
  padding-right: 5px;
}
