#root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 20px 0;
}
.playback-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    width: 70%;
    border: 1px solid var(--primary);
    border-radius: 8px;
    min-height: fit-content;
    padding: 20px;

}
.progress-bar-container
{
    width: 80%;
    margin-top: 20px;
    height: 8px;
    border-radius: 5px;
    background: var(--darker-white);
    border: 1px solid #00000033;
}
.progress-bar-fill
{
    width: 20%;
    height: 8px;
    border-radius: 5px;
    background: var(--primary);
    transition: width .2s linear;
}
