.song-container
{
    background-color: var(--white);
    border: 1px solid var(--primary);
    border-radius: 8px;
    width: 80%;
    padding: 10px;
}
.song-container:hover
{
    cursor: pointer;
    background-color: var(--primary);
    color: var(--white);
}

.selected
{
    background-color: var(--clicked);
}